/*
Theme Name: Bestiaire
URI du thème: 
Auteur: Claire
URI de l'auteur: 
Description: Thème 2021-Simplon - Exo 
Licence: 
URI de la licence: 
Tags:
Domaine de texte:
*/
@font-face {
  font-family: 'roboto';
  src: url('fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto-gras';
  src: url('fonts/roboto/Roboto-Medium.ttf') format('truetype');
}


.bestiaire-body{
    color: #21282e;
    padding:0px;
    margin: 0px;
  }

.bestiaire-header{
  width: 100%;
  margin:0px;
  padding:0px;
}

/*////////////////////////////////////////////////////////////////////*/
/*début du <header> menu de navigation*/


.bestiaire_nav{
  width: 100%;
  top:0;
  padding:0px;
  height: 60px;
  background-color: rgb(49, 49, 53);
  box-shadow: 0 10px 9px rgba(18, 17, 24, 0.5);
}

.bestiaire_ul ul{
  height: 100%;
  margin:0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.page_item{
  width: 50%;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.page_item a{
  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration:none;
  color :rgb(230, 198, 227);
  font-family: 'roboto-gras';
  font-size: 1.5em; 
}

/*///////////////////////////////////////////////////////////////////////////*/
/*<main> et <h1> dans l'index*/

.bestiaire-div-index{
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: 0;
  min-height: 100vh;
  width: 100%;
}

.main-bestiaire-index{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-height: 100vh;
  margin-bottom: 0;
  margin-top: 0;
  background-color: rgba(201, 228, 231, 0.4);  
}

.title-bestiaire-index{
  font-size: 12vw;
  font-family: 'roboto-gras' !important;
  color :rgb(26, 26, 26);
}

/*///////////////////////////////////////////////////////////////////////////*/
/*home*/

.div-bestiaire-home1{
  min-height: 100vh;
  min-width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  background-color: rgb(238, 225, 238);
}

.title-bestiaire-home{
  padding-top: 0;
  margin-top:0;
  font-family:'roboto-gras' !important;
  color :rgb(49, 49, 53);
  font-size: 8vw;
}

.div-bestiaire-home2{
  display : flex;
  justify-content: center;
}

.main-bestiaire-home{
  width: 90%;
  max-width: 700px;
}

.div-content-bestiaire-home{
  margin-top: 50px;
}

.title2-bestiaire-home a{
  font-family:'roboto-gras' !important;
  color :rgb(31, 31, 34);
  font-size: 1.5em;
  text-decoration: none;
}

.title2-bestiaire-home a:hover{
  font-size: 1.8em;
}

.content-bestiaire-home{
  font-family:'roboto' !important;
  text-align: justify;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*single*/

.div-bestiaire-single1{
  min-height: 100vh;
  min-width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  background-color: rgb(238, 225, 238);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.div-bestiaire-single2{
  margin-bottom:0;
  display: flex;
  flex-direction: column;
}

.title-single-bestiaire{
  font-family:'roboto-gras' !important;
  color :rgb(49, 49, 53);
  font-size: 4em;
  margin-top:0;
  margin-bottom: 20px;
}

.main-bestiaire-single:nth-child(2){
  width: 90%;
  min-width: 300px;
  max-width: 750px;
  align-self: center;
  text-align: justify;
  font-family: 'roboto' !important;
}

.p-bestiaire-single{
  font-size: 2em;
}

.div-bestiaire-single3{
  font-size: 1em;
}

.aside-bestiaire-single{
  margin-top: 25px;
}

.img-bestiaire-single{
  width: 300px;
}

.p-bestiaire-aside-single{
  font-family: 'roboto-gras' !important;
  color: rgb(49, 49, 53);
  font-size: 1.9em;
}

.ul-bestiaire-single{
  margin-bottom: 0;
}

.ul-bestiaire-single li{
  margin-bottom: 20px;
  list-style-type: none;
}

.a-bestiaire-single{
  font-family: 'roboto' !important;
  color:rgb(26, 26, 26);
  font-size: 1.5em;
  text-decoration: none;
}

.a-bestiaire-single:hover{
  font-size: 2em;
}



